# Fichiers d'état de Terraform
*.tfstate
*.tfstate.*

# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Crash logs de Terraform
crash.log

# Fichiers générés par l'IDE
*.swp
*.vscode/
.idea/
